body {
    font-family: 'Maiden Orange';
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.clear {
    float: none;
}

header {
    max-height: 130px;
    z-index: 10;
    position: relative;
}

#header-bar {
    width: 100%;
    background: #d25840;
    height: 50px;
    position: absolute;
    margin-top: 80px;
    z-index: -99;
    display: inline-block;
}

header img {
    margin-left: 9.9%;
    margin-top: 9px;
    display: inline-block;
    position: relative;
    width: 19em;
}

header nav {
    float: right;
    margin-top: 75px;
    padding-right: 8em;
}

header nav ul {
    display: inline-block;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #F5F3E2;
    margin: 0.75em;
    margin-left: 3em;
    font-size: 1.4em;
    text-decoration: none;
    display: inline-block;
    height: 20px;
    padding: 0.2em;
    padding-top: 0.3em;
    transition: 0.2s all;
}

header nav ul li a:hover {
    border-bottom: 3px solid #F5F3E2;
    transition: 0.2s all;
}



header ul li {
    float: left;
    position: relative;
}


header ul li a:hover {
    border: 0px;
    border-radius: 0px;
      
}

header ul li ul li:hover {
        background: #b54b37;
        border-radius: 0px;
}

header ul li ul {
    position: absolute;
    left: 10%;
    top: 3.45em;
    display: none;
    width: 100%;
    border-radius: 0px;
    padding: 0;
}

header ul li:hover ul {
    display: block;
    border-radius: 0px;
    background: #b54b37;
}

header ul li ul li {
    float: none;
    width: auto;
    display: block;
    border-radius: 0px;

}

header ul li ul li a {
    background: #d25840;
    margin: 0%;
    display: block;
    border-radius: 0px;
    text-align: center;
    border: none;
}

header ul li ul li a:hover {
    background: #b54b37;
    border: 0px;
    border-radius: 0px;
    border: none;
}

footer {
    width: 100%;
    background: #d25840;
    height: 100px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
}

footer small {
    color: #F5F3E2;
    display: inline-block;
    padding-left: 57px;
}

footer img {
    margin: 0 auto;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

footer p {
    color: #F5F3E2;
    display: inline-block;
}

@media screen and (max-width: 1190px) {
    header img {
        width: 15em;
        margin-top: 30px;
    }
    
    header nav ul li a {
        margin-left: 2em;
    }
}

@media screen and (max-width: 1020px) {
    header img {
        width: 12em;
        margin-top: 43px;
    }

}

@media screen and (max-width: 967px) {
    header nav {
        padding-right: 100px;
    }
}

@media screen and (max-width: 935px) {
    header nav {
        padding-right: 100px;
    }
    
    header nav ul li a {
        margin-left: 1em;
    }
}


@media screen and (max-width: 935px) {
    header nav {
        padding-right: 50px;
    }
    
    header nav ul li a {
        margin-left: 1em;
    }
}

@media screen and (max-width: 781px) {
    header nav ul li a {
        margin-left: 0.5em;
    }
}

@media screen and (max-width: 730px) {
    header nav ul li a {
        margin-left: 0.5em;
    }
}

@media screen and (max-width: 1190px) {
    header img {
        width: 15em;
        margin-top: 30px;
    }
    
    header nav ul li a {
        margin-left: 2em;
    }
}

@media screen and (max-width: 1020px) {
    header img {
        width: 12em;
        margin-top: 4.5%;
    }

}

@media screen and (max-width: 967px) {
    header nav {
        padding-right: 100px;
    }
}

@media screen and (max-width: 935px) {
    header nav {
        padding-right: 100px;
    }
    
    header nav ul li a {
        margin-left: 1em;
    }
}


@media screen and (max-width: 935px) {
    header nav {
        padding-right: 50px;
    }
    
    header nav ul li a {
        margin-left: 1em;
    }
}


@media screen and (max-width: 836px) {

    header {
        max-height: none;
        z-index: 999;
    }
    
    header img {
        margin-left: 35%;
        position: absolute;
        z-index: 99;
        margin-top: 5px;
        width: 10em;
    }
    
    header nav {
        text-align: center;
        background: #d25840;
        margin-top: 0;
        padding-top: 110px;
        float: none;
        position: relative;
        
    }
    
    header ul li ul {
        left: 0%;
    }
    
    header nav ul li a {
        border-bottom: 3px solid #d25840;
    }


@media screen and (max-width: 510px) {
    header nav ul li a {
        margin-left: 2em;
        font-size: 1.2em;
        margin-right: 20%;
    }
}

@media screen and (max-width: 466px) {
    header nav ul {
        padding-left: 5%;
    }
    
    header nav ul li a {
        margin-left: 2em;
        font-size: 1.2em;
        margin-right: 15%;
        margin-left: 0.1em;
    }
}

@media screen and (max-width: 450px) {  /*  PHONE STUFF  */
    header img {
        margin-left: 30%;
    }

    footer {
        width: 100%;
        background: #d25840;
        height: 140px;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
    }

    footer small {
        color: #F5F3E2;
        display: block;
        margin-left: 0%;
        float: none;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 0%;
    }

    footer img {
        margin-top: auto;
        margin-bottom: auto;
        float:none;
        height: 60%;
        display: block;
    }

    footer p {
        color: #F5F3E2;
        text-align: center;
        display: block;
        float: none;
        margin-top: 2%;   
    }

}
